 //Default
 $color-default: #f2f2f2;
 $color-default-lightest: #fff;
 $color-default-lighter: #c2c2c2;
 $color-default-darker: #acacac;
 $color-default-darkest: #000;
 $color-default-dark: #111111;
 // Primary colors
 $color-primary: #EE295F;
 // Success colors
 $color-success: #00a849;
 // Warning
 $color-warning: #ffc700;
 // Danger
 $color-danger: #f54747;
 //colors
 $whiteish: #f2f2f2;
 $pink: #E96F92;
 $purple: #75517D;
 $green: #54fad4;
 //options
 $duration: 0.8s;
 $ease-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
 $ease-in: cubic-bezier(0.470, 0.000, 0.745, 0.715);
 $ease-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);
 $size: 20px;
 $hsize: $size/2;
 //
 // Fonts size
 //
 //
 // Padding & margin
 //
 //$info-phone-horizontal: "only screen and (max-width : 767px)";
 //$info-phone: "only screen and (max-width : 640px)";
 $res1200: "only screen and (max-width : 1200px)";
 $info-tablet-horizontal: "only screen and (max-width : 1160px)";
 $res1140: "only screen and (max-width : 1140px)";
 $res974: "only screen and (max-width : 974px)";
 $res1000: "only screen and (max-width : 1000px)";
 $info-tablet-vertical: "only screen and (max-width : 900px)";
 $info-phone: "only screen and (max-width : 767px)";
 $res740to1110: "(min-width : 740px) and (max-width : 1110px)";
 $res841: "only screen and (max-width : 841px)";
 $res740: "only screen and (max-width : 740px)";
 $res440: "only screen and (max-width : 440px)";
 $res600: "only screen and (max-width : 600px)";
 $info-phone-4: "only screen and (max-width : 320px)";
 $res800: "only screen and (max-width : 800px)";
 $res1350: "only screen and (max-width : 1350px)";
 $res1550: "only screen and (max-width : 1550px)";
 $res1024: "only screen and (max-width : 1024px)";
 $res964: "only screen and (max-width : 964px)";
 $res950: "only screen and (max-width : 950px)";
 $res700: "only screen and (max-width : 700px)";
 $res645: "only screen and (max-width : 645px)";
 $res370: "only screen and (max-width : 370px)";
 $primary-green: #0eb493;