.banner {
    min-height: 700px;
    background-image: linear-gradient(to bottom, rgba(228, 126, 125, 0.92), rgba(236, 211, 133, 0.92)), url('../img/banner6.png');
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    position: relative;
    .banner__content {
        color: #fff;
        .banner__content__top {
            align-items: center;
            justify-content: center;
            display: grid;
            margin-top: 80px;
            text-align: center;
            cursor: context-menu;
            p {
                font-family: 'Kaushan Script', cursive;
                font-size: 65px;
            }
            h2 {
                padding-bottom: 36px;
                font-size: 120px;
                font-weight: bold;
                position: relative;
                z-index: 1;
                width: 680px;
                &::after {
                    content: "";
                    position: absolute;
                    left: 46%;
                    top: 0;
                    bottom: 0;
                    border-bottom: 3px solid;
                    width: 50px;
                    margin: auto;
                    @media #{$res800} {
                        left: 43%;
                    }
                    @media #{$res370} {
                        left: 39%;
                    }
                }
            }
            button {
                border: 3px solid;
                background: transparent;
                font-size: 12px;
                text-transform: uppercase;
                width: 120px;
                margin: 30px auto;
                height: 35px;
                outline: none;
                transition: 0.4s all;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                &:hover {
                    color: black;
                    transition: 0.4s all;
                }
                @media #{$res370} {
                    width: 100px;
                }
            }
        }
        ul {
            position: absolute;
            bottom: 0;
            width: 100%;
            @include flex(center,
            center);
            li {
                width: 200px;
                position: relative;
                line-height: 3;
                color: #f7eac5;
                transition: 0.4s;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 0%;
                    height: 2px;
                    border-top: 2px solid #db5f5f;
                    left: 0;
                    z-index: 2;
                    transition: 0.4s;
                }
                &:hover {
                    &::before {
                        color: white;
                        transition: 0.4s;
                    }
                    &::after {
                        width: 35%;
                        transition: 0.4s;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 90%;
                    height: 2px;
                    border-top: 2px solid;
                    left: 0;
                    z-index: 1;
                }
                a {
                    color: #f7eac5;
                    font-size: 12px;
                    transition: 0.4s;
                    &:hover {
                        color: white;
                        transition: 0.4s;
                    }
                    span {
                        font-weight: bold;
                        font-size: 17px;
                        padding: 0 5px 0 0;
                    }
                }
            }
        }
    }
}