.banner {
    min-height: 700px;
    background-image: linear-gradient(to bottom, rgba(228, 126, 125, 0.92), rgba(236, 211, 133, 0.92)), url('/assets/img/banner6.png');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    .banner__content {
        color: white;
        .banner__content__top {
            align-items: center;
            justify-content: center;
            display: grid;
            margin: 80px 0 0 0;
            text-align: center;
            cursor: context-menu;
            p {
                font-family: 'Kaushan Script', cursive;
                font-size: 65px;
            }
            h1 {
                font-size: 120px;
                font-weight: bold;
                position: relative;
                z-index: 1;
            }
            .top--border-bottom {
                padding: 0 0 36px 0;
                &::after {
                    content: "";
                    position: absolute;
                    left: 46%;
                    top: 0;
                    bottom: 0;
                    border-bottom: 3px solid;
                    width: 50px;
                    margin: auto;
                    @media #{$info-phone-4} {
                        left: 39%;
                    }
                }
            }
            button {
                border: 3px solid;
                background: transparent;
                font-size: 12px;
                text-transform: uppercase;
                width: 120px;
                margin: 30px auto;
                height: 35px;
                outline: none;
                transition: 0.4s all;
                &:hover {
                    color: black;
                    transition: 0.4s all;
                }
                @media #{$info-phone-4} {
                    width: 100px;
                }
            }
        }
        .banner__content__bottom {
            margin-top: 80px;
            ul {
                @include flex(center,
                center);
                li {
                    width: 200px;
                    position: relative;
                    line-height: 3;
                    color: #f7eac5;
                    &:hover {
                        &::before {
                            color: white;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 35%;
                            height: 2px;
                            border-top: 2px solid #db5f5f;
                            left: 0;
                            z-index: 2;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: 90%;
                        height: 2px;
                        border-top: 2px solid;
                        left: 0;
                        z-index: 1;
                    }
                    a {
                        color: #f7eac5;
                        font-size: 12px;
                        &:hover {
                            color: white;
                        }
                        span {
                            font-weight: bold;
                            font-size: 17px;
                            padding: 0 5px 0 0;
                        }
                    }
                }
            }
        }
    }
}