.header {
    padding: 20px 170px;
    position: fixed;
    margin: auto;
    width: 100%;
    z-index: 10;
    @media #{$res800} {
        padding: 50px;
    }
    a {
        color: #fff;
        font-weight: 500;
        font-variant: petite-caps;
        font-family: 'Montserrat', sans-serif;
    }
    .logo {
        @include font-size(30px);
        font-weight: bold;
    }
    .show-menu-btn,
    .hide-menu-btn {
        cursor: pointer;
        display: none;
        font-size: 30px;
        color: #fff;
        @media #{$res800} {
            display: block;
        }
    }
    .hide-menu-btn {
        @media #{$res800} {
            position: absolute;
            top: 6%;
            right: 8%;
        }
    }
    #chk {
        position: absolute;
        visibility: hidden;
        z-index: -111;
    }
    #chk:checked~.header__menu {
        right: 0;
        li{
          margin: 0;
          width: 100%;
        }
    }
    .header__inner {
        @include flex(center, space-between);
    }
    
    .header__menu {
        margin-left: 35%;
        @media #{$res800} {
            position: fixed;
            width: 100%;
            height: 100%;
            background: gray;
            right: -100%;
            top: 0;
            text-align: center;
            transition: 0.7s;
            z-index: 2;
        }
        ul {
            height: 20px;
            display: flex;
            @media #{$res800} {
                padding: 180px 0;
                display: block;
            }
        }
        li {
            &:not(:last-child) {
                position: relative;
                transform: 0;
            }
            &:nth-last-child(2) {
                margin: 0;
            }
            &:hover {
                width: 11%;

                &::after {
                    width: 100%;
                    transition: 0.4s all;

                }
            }
            &::after {
                content: "";
                position: absolute;
                border-bottom: 3px solid #FCE38A;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 3px;
                transition: 0.4s;
                transition-delay: .2s;
                transition-timing-function: ease-in-out;
                cursor: pointer;
            }
        }
        a {
            transition: 0.5s;
            position: relative;
            &:hover {
                color: #FCE38A;
                transition: 0.5s;
            }
        }
        .show-menu-btn:hover,
        .hide-menu-btn:hover {
            transition: 0.4s;
        }
    }
    li {
        margin-right: 55px;
        font-size: 15px;
        list-style: none;
        &:nth-last-child(1) {
            margin: 0;
        }
        @media #{$res800} {
            padding: 20px 0;
            font-size: 25px;
            line-height: normal;
            margin: 0;
        }
        @media #{$res1200} {
            &:nth-last-child(1) {
                margin: 0;
            }
            margin-right: 30px;
        }
        @media #{$res1000} {
            &:nth-last-child(1) {
                margin: 0;
            }
        }
        @media #{$res370} {
            margin: 0;
        }
    }
    .header__menu-icon {
        height: 20px;
        display: flex;
        @media #{$res1200} {
            margin-left: 10px;
        }
        @media #{$res800} {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin: 0px 30px;
            height: auto;
        }
        @media #{$res370} {
            margin: 0 10px;
        }
        li {
            padding: 0;
            @media #{$res370} {
                margin: 0 10px;
            }
        }
        button {
            padding: 0;
            background: transparent;
            border: none;
            color: #fff;
            outline: none;
        }
    }
}