.what-we-do {
    max-width: 1200px;
    margin: 50px auto 100px auto;
    .title-section {
        max-width: 1200px;
        text-align: center;
        span {
            font-family: 'Kaushan Script', cursive;
            font-size: 24px;
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 30px;
            position: relative;
            line-height: 2;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -30%;
                width: 60px;
                height: 4px;
                background-color: #e46e6e;
                margin-left: -30px;
            }
            @media #{$res600} {
                line-height: 1.5;
            }
        }
        p {
            font-family: myriad-pro, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            margin: 50px 120px 100px 120px;
            color: #9c9a9a;
            @media #{$res600} {
                margin: 30px 0 30px 0;
            }
        }
    }
    .what-we-do__content {
        @media #{$res1200} {
            max-width: 1200px;
        }
        @media #{$res800} {
            display: block;
            margin: auto;
        }
        display: flex;
        .what-we-do__content__img {
            width: 570px;
            height: 380px;
            @media #{$res1200} {
                max-width: 100%;
                max-height: 100%;
                margin: 0 20px;
            }
            @media #{$res800} {
                max-width: 90%;
                height: auto;
                margin: 10px auto;
            }
        }
        img {}
        .what-we-do__content__text {
            width: 600px;
            @media #{$res1200} {
                max-width: 100%;
            }
            @media #{$res800} {
                margin: auto;
            }
            .text {
                @media #{$res1200} {
                    max-width: 100%;
                    margin: 10px 30px 10px 30px;
                }
                &:first-child {
                    margin-top: 0;
                }
                margin: 10px 0 10px 50px;
                border: 1px solid #cccccc;
                // &:first-child .text__content {
                //     display: block;
                // }
                .text__title {
                    @include flex(center, space-between);
                    padding: 15px;
                    position: relative;
                    .text__title-img {
                        display: flex;
                        i {
                            font-size: 30px;
                            color: $green;
                            &.icon-tranforms {
                                transform: rotate(90deg);
                            }
                        }
                        p {
                            font-size: 14px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 500;
                            line-height: 2;
                            margin: 0 15px;
                        }
                    }
                    button {
                        background: transparent;
                        border: none;
                        outline: none;
                        i {
                            font-size: 20px;
                            color: #cccccc;
                        }
                    }
                    .icon {
                        position: absolute;
                        right: 0;
                        top: 20px;
                        i:nth-last-child(1) {
                            position: absolute;
                            top: 0;
                            right: 100%;
                        }
                    }
                }
                .text__content {
                    height: 150px;
                    overflow: auto;
                    line-height: 1.5;
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-style: italic;
                    color: #9c9a9a;
                    padding: 15px 0 30px 15px;
                    margin: 10px 15px;
                    display: none;
                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 80px;
                        right: 50%;
                    }
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px rgb(156, 147, 147);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $green;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $primary-green;
                    }
                    &::-webkit-resizer {
                        height: 80px;
                    }
                }
            }
        }
    }
}