.about-us {
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: 75px auto 90px auto;
    text-align: center;
    @media #{$res800} {
        margin: 35px auto;
    }
    @media #{$res600} {
        margin: 30px auto 30px auto;
    }
    .about-us__img {
        @include flex(center, center);
        @media #{$res600} {
            justify-content: center;
            display: block;
        }
        
        .about-us-01,
        .about-us-02,
        .about-us-03 {
            position: relative;
            width: 100%;
            width: 380px;
            height: 250px;
            transition: 0.4s;
            background-size: cover;
            margin: 10px;
            @media #{$res1200} {
                width: 370px;
                height: 250px;
            }
            @media #{$res1000} {
                width: 260px;
                height: 160px;
            }
            @media #{$res600} {
                margin: 10px auto;
            }
           
            .about-us__content {
              height: 100%;
              color: white;
              font-size: 18px;
              font-weight: bold;
              line-height: 1.5;
              display: none;
            }
        }
        .about-us-01 {
            background-image: url("../img/about-us1.png");
            // margin: 15px 15px 15px 0;

            &:hover {
                background-image: linear-gradient(to bottom, rgba(228, 126, 125, 0.92), rgba(236, 211, 133, 0.92)), url('../img/about-us1.png');
            }
        }
        .about-us-02 {
            background-image: url("../img/about-us2.png");
            // margin: 15px;

            &:hover {
                background-image: linear-gradient(to bottom, rgba(228, 126, 125, 0.92), rgba(236, 211, 133, 0.92)), url('../img/about-us2.png');
            }
        }
        .about-us-03 {
            background-image: url("../img/about-us3.png");
            // margin: 15px 0 15px 15px;

            &:hover {
                background-image: linear-gradient(to bottom, rgba(228, 126, 125, 0.92), rgba(236, 211, 133, 0.92)), url('../img/about-us3.png');
            }
        }
        .about-us-01:hover,
        .about-us-02:hover,
        .about-us-03:hover {
            transition: 0.4s;
            box-shadow: 10px 10px #82e9d6;
            .about-us__content {
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: center;
              height: 100%;
              flex-direction: column;
            }
        }
    }
}