.count {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    height: 270px;
    position: relative;
    color: #fff;
    background-color: #95E1D3;
    @media #{$res800} {
        height: 200px;
    }
    @media #{$res370} {
        height: 100px;
    }
    cursor: context-menu;
    .count__content {
       
        margin: auto;
        display: flex;
        height: 100%;
    }
    .count--border {
        text-align: center;
        max-width: 240px;
        width: 100%;
        padding-top: 80px;
        @media #{$res800} {
            padding-top: 60px;
        }
        @media #{$res370} {
          padding-top: 20px;
        }
    }
    .count--border:not(:last-child) {
        border-right: 1px solid #B5EAE0;
    }
    p {
        font-size: 72px;
        font-weight: bold;
        padding-bottom: 15px;
        @media #{$res800} {
            font-size: 35px;
        }
        @media #{$res370} {
            font-size: 20px;
            padding-bottom: 5px;
        }
    }
    span {
        font-size: 14px;
        font-weight: 500;
        @media #{$res800} {
            font-size: 13px;
        }
        @media #{$res370} {
            font-size: 10px;
        }
    }
}