.service {
    margin: 110px auto;
    max-width: 1200px;
    @media #{$res800} {
        margin: 50px auto;
    }
    .service__content {
        text-align: center;
        padding: 40px 0 0 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #cccccc;
            width: 100%;
            @media #{$res1200} {
                border: none;
            }
        }
        @media #{$res1200} {
            max-width: 100%;
        }
        i {
            color: #95D1E3;
            font-size: 30px;
            width: 40px;
            margin: 10px 20px 0 0;
        }
        @include flex(center, center, wrap);
        .service__content__item {
            max-width: 350px;
            display: flex;
            margin: 40px 20px 40px 20px;
            @media #{$res1200} {
                margin: 20px 10px 20px 10px;
            }
            @media #{$res800} {
                margin: 10px;
            }
        }
        .service__content__text {
            max-width: 270px;
            text-align: left;
            p {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 10px;
            }
            span {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: #666666;
                font-size: 14px;
            }
        }
    }
}